@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .gold-button{
        background: url('../public/images/gold.png');
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-size:cover;
        background-repeat: no-repeat;
    }
    .button-text{
        background-color: #B59E6A;
        color: transparent;
        text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
        -webkit-background-clip: text;
    }
    .blur-shape{
        box-shadow: 0px 4.2561px 4.2561px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(13.2532px);
        background: rgba(231, 223, 185, 0.12);
    }
    .bg-gold {
        background: url('../public/images/gold_texture.png');
        color: transparent;
        -webkit-background-clip: text;
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .shadow-shape{
        box-shadow: 0px 4.2561px 4.2561px rgba(0, 0, 0, 0.25);
    }
    .navbar-item{
        display: block;
        font-family: "Another Danger Slanted";
        color: white;
        padding-left: 1.5vw;
        font-size: 1.9vw;
        margin-bottom: 0.7vw;
        cursor: pointer;
        letter-spacing: 0.035em;

    }
    .navbar-item:hover{
        background: url('../public/images/gold_texture.png');
        color: transparent;
        -webkit-background-clip: text;
        background-size: contain;
        background-position-y: center;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .loadingsScreen{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background-color: #000;
        z-index: 99999;  /*just make sure it's the highest on the page*/
    }

}

@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost/Jost-Thin.woff");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost/Jost-ExtraLight.woff");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost/Jost-Light.woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost/Jost-Regular.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost/Jost-Medium.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost/Jost-SemiBold.woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost/Jost-Bold.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost/Jost-ExtraBold.woff");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost/Jost-Black.woff");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Another Danger Slanted";
    src: url("../public/fonts/Danger/Another Danger Slanted.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "BioRhyme";
    src: url("../public/fonts/BioRhyme/BioRhyme-Light.otf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "BioRhyme";
    src: url("../public/fonts/BioRhyme/BioRhyme-Regular.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "BioRhyme";
    src: url("../public/fonts/BioRhyme/BioRhyme-ExtraLight.otf");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: "BioRhyme";
    src: url("../public/fonts/BioRhyme/BioRhyme-Bold.otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Beer Money";
    src: url("../public/fonts/Beer Money/beer money.ttf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}